@import "ui-variables";
@import "syntax-variables";
@import "cg-variables";

.colorguide {
	overflow: auto;

  .padded-right {
    padding-right: 10px;
  }

  .colorguide-panel {
    background-color: @cg-panel-bg-color;
  }

  .ul-bot-margin {
    margin-bottom: 0px;
  }

  .left {
    width: auto;
    overflow: hidden;
  }

  .right {
    width: 210px;
    float: left;
  }

  .list-category {
    padding-left: 0;
    margin-left: 15px;
    list-style-type: none;
    overflow: hidden;
    margin-top: 0px;
  }

  .list-item {
    padding: 0 0 0 0;
    vertical-align: top;
  }

  .list-color {
    margin: 3px 0 3px 0;
    display: inline-block;
    width: 100%;
  }

  .variable-name {
    margin-top: 1px;
    color: @cg-variable-name;
    font-size: 1.1em;
    background-color: @cg-variable-name-bg;
    line-height: 1.4em;
    padding-top: 0px;
    padding-left: 3px;
    padding-bottom: 3px;
  }

  .is-color-style {
    display: inline-block;
    vertical-align: top;
    height: 66px;
    width: 66px;
  }

  .is-color-block {
    .is-color-style;
		margin-right: 0px;
		border: @cg-sample-border-width solid @cg-sample-border-color;
  }

  .is-color-preface {
    .is-color-style;
		margin-right: 4px;
  }

  .is-color-bar {
    height: 13px;
    border-width: 6px 0 6px 0;
    border-style: solid;
    padding-left: 4px;
    align-content: center;
  }

  .is-color-bar-top {
    // border-color: white;
    margin-top: 2px;
    margin-bottom: 4px;
    .is-color-bar;
  }

  .is-color-bar-mid {
    // border-color: grey;
    margin-bottom: 4px;
    .is-color-bar;
  }

  .is-color-bar-bot {
    // border-color: black;
    margin-bottom: 4px;
    .is-color-bar;
  }

  .is-color-bar-bkg {
    // border-color: black;
    .is-color-bar;
  }

  .is-text-bar {
    line-height: 12px;
    font-size: 11px;
    border-width: 0;
  }

  .is-text-bar-top{
    .is-color-bar-top;
    .is-text-bar
  }

  .is-text-bar-mid{
    .is-color-bar-mid;
    .is-text-bar
  }

  .is-text-bar-bot{
    .is-color-bar-bot;
    .is-text-bar
  }

  .is-text-bar-bkg{
    .is-color-bar-bkg;
    .is-text-bar
  }

  .bordered {
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-top: 5px;
    //margin-top: -10px;
  }

  .bordered-panel {
    padding-top: 13px;
    padding-bottom: 25px;
  }

  .panels {
    display: -webkit-flex;
    -webkit-flex-direction: row;
  }

  .padded {
    padding: 4px 2px 4px 2px;
  }

  .package-panel {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex: 1;
    //
    // .list-category {
    //   overflow: hidden;
    // }

    .inset-panel {
      width: 100%;
      // the main panel background color
      background-color: @cg-inset-panel-bg-color;
			padding: 5px 10px 10px 10px
    }

    .panel-heading {
        // the main panel heading's background color
        background-color: @cg-inset-panel-bg-color;
    }
  }

  h2 {
      font-size: 2.2em;
      line-height: 1.2;
      margin: 0 0 0 0;
      color: @cg-h2-color;
    }

  h3 {
      font-size: 1.2em;
      margin: .5em 0 1em 0;
      color: @cg-h3-color;
  }

  h4 {
      font-size: 1.0em;
      margin: .5em 0 1em 0;
      color: @cg-h4-color;
  }

  p {
      font-size: 1.0em;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      // margin: .5em 0 1em 0;
  }

  pre {
      font-family: '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
      background-color: rgba(0, 0, 0, 0);
      padding: 0;
      margin: 0;
      font-size: .85em;
      width: 100%
  }

  .div-spacer {
    margin-bottom: 3px;
  }

  .div-section-header-btn {
    margin-right: 38px;
  }

  .div-section-collaspe-btn {
    width: 30px;
    float: right;
    margin-right: 5px;
    display: inline;
  }

  .btn-align {
    display: inline;
  }

  .btn-top-margin {
    margin-top: 3px;
  }

  .btn-group-header {
    width: 100%;
  }

  .btn-section-header {
    width: 100%;
    margin-top: 3px;
  }

  .btn-division-header {
    background-color: @cg-inset-panel-bg-color;
    // width: 100%;
    text-align: left;
    font-size: 1.5em;
    padding-left: 5px;
    color: white;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
    outline: none;
    display: block;
    border: none;
  }

  .btn-header {
    background-color: rgb(70,70,70);
    border-style: none;
    text-align: left;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    color: white;
  }

  .btn-icon {
    font-size: 15px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .btn:active {
    outline: none;
    border: none;
    background-color: @cg-btn-section-bg-color;
  }

  .bar {
    height: 1px;
    background-color: @cg-btn-division-bg-color;
    width: 100%;
    display: block;
    margin-top: 35px;
    margin-bottom: -18px;
  }

  .hide {
    display: none;
  }


}
