@import "ui-variables";
@import "syntax-variables";
@import "cg-variables";

.colorguide {
	overflow: auto;

  .padded-right {
    padding-right: 10px;
  }

  .colorguide-panel {
    background-color: @cg-panel-bg-color;
  }

  .list-category {
    padding-left: 0;
    margin-left: 15px;
    list-style-type: none;
    overflow: hidden;
    margin-top: 10px;
  }

  .list-item {
    display: inline-block;
    padding: 0 0 0 0;
    vertical-align: top;
  }

  .list-color {
    margin: 0 0 12px 0;
  }

  .list-color-top-border {
    border-top-style: solid;
    border-top-width: 1px;
  }

  .variable-name {
    margin-top: -5px;
    color: @cg-variable-name;
  }

  .is-color:before {
    content: "";
    display: inline-block;
    height: 40px;
    vertical-align: top;
    width: 20%;
		margin-right: 10px;
    margin-bottom: 4px;
		border: @cg-sample-border-width solid @cg-sample-border-color;
  }

  .is-color2 {
  }

  .is-color-style {
    display: inline-block;
    vertical-align: top;
    height: 66px;
    width: 66px;
  }

  .is-color-block {
    .is-color-style;
		margin-right: 10px;
		border: @cg-sample-border-width solid @cg-sample-border-color;
  }

  .is-color-preface {
    .is-color-style;
		margin-right: 4px;
  }

  .is-color-bar {
    height: 13px;
    border-width: 6px 0 6px 0;
    border-style: solid;
    padding-left: 4px;
    align-content: center;
  }

  .is-color-bar-top {
    // border-color: white;
    margin-top: 2px;
    margin-bottom: 4px;
    .is-color-bar;
  }

  .is-color-bar-mid {
    // border-color: grey;
    margin-bottom: 4px;
    .is-color-bar;
  }

  .is-color-bar-bot {
    // border-color: black;
    margin-bottom: 4px;
    .is-color-bar;
  }

  .is-color-bar-bkg {
    // border-color: black;
    .is-color-bar;
  }

  .is-text-bar {
    line-height: 12px;
    font-size: 11px;
    border-width: 0;
  }

  .is-text-bar-top{
    .is-color-bar-top;
    .is-text-bar
  }

  .is-text-bar-mid{
    .is-color-bar-mid;
    .is-text-bar
  }

  .is-text-bar-bot{
    .is-color-bar-bot;
    .is-text-bar
  }

  .is-text-bar-bkg{
    .is-color-bar-bkg;
    .is-text-bar
  }

	.is-color-blank:before {
		content: "";
		display: inline-block;
		height: 20px;
		//vertical-align: middle;
	}

  .panels {
    display: -webkit-flex;
    -webkit-flex-direction: row;
  }

  .padded {
    padding: 4px 2px 4px 2px;
  }

  .package-panel {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex: 1;
    //
    // .list-category {
    //   overflow: hidden;
    // }

    .inset-panel {
      width: 100%;
      // the main panel background color
      background-color: @cg-inset-panel-bg-color;
			padding: 5px 10px 10px 10px
    }

    .panel-heading {
        // the main panel heading's background color
        background-color: @cg-inset-panel-bg-color;
    }
  }

  .timing {
    margin-bottom: 10px;
  }

  .header-highlight {
    height: 30px;
    background-color: rgb(120,120,120);
    padding-left: 5px;
    padding-top: 2px;
  }

  h2 {
      font-size: 2.2em;
      line-height: 1.2;
      margin: 0 0 0 0;
      color: @cg-h2-color;
    }

  h3 {
      font-size: 1.2em;
      margin: .5em 0 1em 0;
      color: @cg-h3-color;
  }

  p {
      font-size: 1.0em;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      // margin: .5em 0 1em 0;
  }

  pre {
      font-family: '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
      background-color: rgba(0, 0, 0, 0)
  }

  .btn-division-header {
    background-color: @cg-inset-panel-bg-color;
    // width: 100%;
    text-align: left;
    font-size: 1.5em;
    padding-left: 5px;
    color: white;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
    outline: none;
    display: block;
    border: none;
  }

  .btn-section-header {
    background-color: rgb(70,70,70);
    border-style: none;
    width: 100%;
    text-align: left;
    font-size: 1.2em;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: white;
    margin-top: 10px;
    // margin-bottom: 7px;
  }

  .btn:active {
    outline: none;
    border: none;
    background-color: @cg-btn-section-bg-color;
  }

  .bar {
    height: 1px;
    background-color: @cg-btn-division-bg-color;
    width: 100%;
    display: block;
    margin-top: 35px;
    margin-bottom: -18px;
  }

  .hide {
    display: none;
  }

  .bordered {
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: 5px;
    //margin-top: -10px;
  }

}
